*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #58c9d8;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul li{
    display: inline-block;
}
ul {
    float: right;
    list-style-type: none ;
    margin-top: 25px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}